.author {
    margin:0 10px 0 0;
    float:left;
    color:#4C85A3;
    font-weight:bold;
    font-size:16px;
}

.dateline {
    margin:2 0 0 0;
    float:left;
    color:#80888F;
    font-size:14px;
}

.number {
    margin:0 0 0 12px;
    float:right;
    font-weight:bold;
    color: white;
    background-color:#CCCCCC;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    display: inline-block;
    line-height: 10px;
    font-size:14px;
}

.message {
    margin:10px 12px 0 12px;
    color:#161819;
    font-size:17px;
}

.message a {
    display: inline-block;
    padding:0px 5px 0px 5px;
}

.separator {
    height:1px;
    background:#D3DCE2;
    overflow:hidden;
    margin:10px 10px 10px 10px;
}

.quote {
    background-color:#F5F5F5;
    border:1px solid white;
    padding:0px 0px 0px 0px
}

.image {
    margin:5px 0px 5px 0px;
}