.author {
    margin:0 10px 0 0;
    float:left;
    color:#4C85A3;
}

.dateline {
    margin:2 0 0 0;
    float:left;
    color:#80888F;
    font-size:14px;
}

.number {
    margin:0 0 0 12px;
    float:right;
}

.message {
    margin:10px 12px 0 12px;
    color:#161819;
}

.separator {
    height:1px;
    background:#D3DCE2;
    overflow:hidden;
    margin:10px 10px 10px 10px;
}