<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>古典吉他论坛</string>
	<key>3</key>
	<string>电吉他论坛</string>
	<key>54</key>
	<string>琴国乐器商城</string>
	<key>80</key>
	<string>音乐闲聊区</string>
	<key>87</key>
	<string>官方中介与二手站务</string>
	<key>91</key>
	<string>Metal论坛</string>
	<key>2</key>
	<string>民谣吉他弹唱</string>
	<key>41</key>
	<string>VIP琴行专区</string>
	<key>44</key>
	<string>音乐服务区</string>
	<key>94</key>
	<string>Blues&amp;Jazz&amp;Funk</string>
	<key>122</key>
	<string>魔菇音乐教育</string>
	<key>124</key>
	<string>音箱设备论坛</string>
	<key>5</key>
	<string>音乐盛世培训</string>
	<key>9</key>
	<string>音乐视听空间</string>
	<key>19</key>
	<string>效果器设备论坛</string>
	<key>85</key>
	<string>指弹吉他论坛</string>
	<key>118</key>
	<string>个人商户与琴行区</string>
	<key>4</key>
	<string>贝斯吉他论坛</string>
	<key>38</key>
	<string>原创音乐空间</string>
	<key>45</key>
	<string>站务办公室</string>
	<key>99</key>
	<string>Guina瑰纳吉他</string>
	<key>100</key>
	<string>二手电吉他区</string>
	<key>130</key>
	<string>原声吉他评测区</string>
	<key>11</key>
	<string>吉他录音数码音乐</string>
	<key>42</key>
	<string>电声乐器评测区</string>
	<key>102</key>
	<string>二手效果器区</string>
	<key>128</key>
	<string>原声教学与作品</string>
	<key>79</key>
	<string>DIY与手工琴</string>
	<key>103</key>
	<string>二手音箱区</string>
	<key>129</key>
	<string>原声吉他曲谱区</string>
	<key>132</key>
	<string>电声参数与周边</string>
	<key>58</key>
	<string>电吉他谱世界</string>
	<key>101</key>
	<string>二手木吉他区</string>
	<key>106</key>
	<string>弗拉门戈吉他区</string>
	<key>104</key>
	<string>二手贝斯区</string>
	<key>119</key>
	<string>UKULELE论坛</string>
	<key>105</key>
	<string>二手乐器周边区</string>
	<key>126</key>
	<string>DIY产品区</string>
	<key>108</key>
	<string>无中介自由交易区</string>
</dict>
</plist>
